{% extends frontend() %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var cartWidget = new CartWidget({
            containerEl: $('div.totals-discounts-container'),
            url: '{{ path('cart_view', {'ajax':'1'}) }}',
            updateShippingUrl: '{{ path('cart_shipment_add') }}',
            updateQtyUrl: '{{ path('cart_update_qtys') }}',
            updateCallback: function() {
                if (typeof minicartWidget != 'undefined') {
                    minicartWidget.render(true);
                }
            }
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container totals-discounts-container">
        {% include templatePath('Cart:partial.html.twig') %}
    </div>
{% endblock %}
