
<div class="row">
    <div class="col-xs-6">
        <ul class="nav navbar-nav nav-tabs">
            <li><a class="navbar-link" href="{{ path('cart_products') }}">Products</a></li>
            <li><a class="navbar-link" href="{{ path('cart_categories') }}">Categories</a></li>
        </ul>
    </div>
    <div class="col-xs-6">
        <div class="pull-right cart-btn">
            <a data-toggle="dropdown" class="dropdown-toggle cart-btn-link" href="#">
                <i class="fa fa-shopping-cart fa-3x"></i>
            </a>
            <div class="dropdown-menu cart-dropdown">
                {% include templatePath('Cart:mini.html.twig') %}
            </div>
        </div>
    </div>
</div>
