
<div class="row">
    <div class="col-sm-6 brand-logo">
        <i class="fa fa-shopping-cart fa-5x pull-left"></i>
        <h1>Mobile Cart</h1>
    </div>
    <div class="col-sm-6 search-bar">
        <div class="search-bar-links">
            <a href="{{ path('cart_view') }}">Cart</a> | <a href="{{ path('cart_checkout') }}">Checkout</a>
        </div>
        <div id="scrollable-dropdown-menu" class="input-group">
            <input type="text" data-provide="typeahead" autocomplete="off" id="text-search" class="form-control search-query typeahead" name="q" value="" placeholder="Search..." />
                <span class="input-group-btn">
                    <button class="btn btn-default search-submit" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
        </div>
    </div>
</div>
