{% extends frontend() %}
{% block sidebar %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <nav role="navigation" class="navbar-default navbar-static-side ">
                <div class="sidebar-collapse">
                    {{ knp_menu_render(cartMenu('customer_dashboard')) }}
                </div>
            </nav>
        </div>
{% endblock %}
{% block content %}
        {% block main_content %} {% endblock %}
    </div>
</div>
{% endblock %}