{% extends frontend() %}
{% block content %}

    <div class="container">
        <div class="row">
            <p>Please check your email to confirm your registration.</p>
        </div>
    </div>

{% endblock %}
