{% extends frontend() %}
{% block content %}

    <div class="container">
        <div class="row">
            <p>The information provided does not match our records.</p>
        </div>
    </div>

{% endblock %}
