{% extends frontend() %}
{% block content %}

    <div class="container">
        <div class="row">
            <p>Thank You. You have successfully confirmed your account.</p>
        </div>
    </div>

{% endblock %}
