body {
    padding-top: 70px
}

header {
    background: #000;
}

h1.store-name {
    color: #428bca;
}

.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,.item {
    border-radius: 4px;
}

.caption {
    min-height: 80px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    color: #d17581;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

#scrollable-dropdown-menu .tt-dropdown-menu {
    max-height: 150px;
    overflow-y: auto;
}


.typeahead,
.tt-query,
.tt-hint {
    /*
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px; */
    border: 1px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 1px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin: 12px 0;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion a:hover,
.tt-suggestion:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

.gist {
    font-size: 14px;
}

span.twitter-typeahead {
    margin-bottom: 0;
    width: 100%;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
    padding: 5px 10px;
    text-align: center;
}

#multiple-datasets .league-name {
    margin: 0 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
    max-height: 150px;
    overflow-y: auto;
}

#rtl-support .tt-menu {
    text-align: right;
}

li.navbar-dropdown a {
    border-radius: 0;
    display: block;
    border-bottom: 1px solid #ddd;
    border-top: none;
    text-align: left;
}

ul.dropdown-menu {
    padding:0;
}

span.nav-badge {
    position: absolute;
    right: 2px;
}

footer {
    margin: 50px 0;
}

div.tab-panel {
    border-top-color: #fff;
    border-right-color: #ddd;
    border-bottom-color: #ddd;
    border-left-color: #ddd;
    border-radius: 0;
}

/* Search in the navigation bar */

.form-control.selectize-control{
    /*height: 34px;*/
}

div.searchbox-container {
    width: 77%;
    padding-left: 15px;
}

@media(min-width:768px) {
    div.searchbox-container {
        width: 240px;
    }
}

.selectize-dropdown-content img{ width:20px; height:20px; margin-right: 3px; float:left; }

.selectize-control::before {
    -moz-transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    content: ' ';
    z-index: 2;
    position: absolute;
    display: block;
    top: 10px;
    right: 34px;
    width: 16px;
    height: 16px;
    background: url(../images/spinner.gif);
    background-size: 16px 16px;
    opacity: 0;
}

.arrow {
    float: right;
}

.selectize-control.loading::before {
    opacity: 1;
}

ul.side-menu li {
    border-bottom: 1px solid #E7E7E7;
}

ul.nav-second-level li a {
    padding-left: 37px;
}

button.navbar-toggle {
    margin-top: 17px;
}

div.cart-dropdown {
    width: 360px;
    padding: 10px;
}

div.cart-buttons {
    padding: 5px 0;
}

div.facet-nav {
    padding: 10px 5px 0 0;
    margin-bottom: 5px;
}

input#page {
    width: 60px;
}

div.pager {
    margin: 0;
}

input[type="number"] {
    width: 60px;
}

div.product-tabs {
    margin-top: 5px;
}

div.product-tabs div.tab-pane {
    padding: 3px;
}

div.category-list,
div.product-list {
    margin-top: 25px;
}

div#customer_register label,
div#customer_forgot_password label {
    display:none;
}

div.brand-logo {
    padding: 5px 10px;
}

div.search-bar {
    padding: 5px 10px;
}

div.search-bar-links {
    padding: 3px;
}

div.img-circle {
    background: #eeeeee none repeat scroll 0 0;
    font-size: 2em;
    height: 45px;
    margin: auto;
    padding-top: 3px;
    padding-left: 15px;
    width: 45px;
    border-radius: 50%;
}

div#co-accordion h2 {
    padding-top: 9px;
    font-size: 1.5em;
}

div#co-accordion h2 a {
    display: block;
}

a.next-button {
    margin-top: 10px;
}

p.price {
    font-size: 2.0em;
    font-weight: bold;
}
