
{% set i = 0 %}
{% for method in payment_methods %}
    <div class="payment-option row">
        <div class="col-sm-2 payment-option-selector">
            <label>{{ method.label }}</label>
            <input type="radio" class="payment-option-input" name="payment_method" value="{{ method.code }}" {% if i == 0 %} checked="checked" {% endif %}/>
        </div>
        <div class="col-sm-10 payment-option-form"{% if i > 0 %} style="display: none;"{% endif %}>
            {# dont break main form with more form tags, markup #}
            {{ form_widget(method.getForm()) }}
        </div>
    </div>

    {% set i = i + 1 %}
{% endfor %}
