
<script type="text/html" id="paginationTemplate">
    <% if (currentPage != 1) { %>
    <button class="prev btn-default btn">Prev</button>
    <% } %>
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Page <%= currentPage %> <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <% for(p=1;p<=totalPages;p++){ %>
            <% if (currentPage == p) { %>
            <li class="active"><a href="#" class="page"><%= p %></a></li>
            <% } else { %>
            <li><a href="#" class="page"><%= p %></a></li>
            <% } %>
            <% }%>
        </ul>
    </div>
    <% if (lastPage != currentPage && lastPage != 0) { %>
    <button class="btn btn-default next">Next</button>
    <% } %>
</script>

<script type="text/html" id="sortingTemplate">
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Sort by <strong><span id="sortByText">popularity</span></strong> <span class="caret"></span></button>
        <ul class="dropdown-menu sort-by">
            <li><a href="date">Date</a></li>
            <li><a href="name">Name</a></li>
            <li><a href="popularity">Popularity</a></li>
        </ul>
    </div>
</script>

<script type="text/template" id="facetLabel">
    <a href="#" class="facet-label"><%- label %><span class="fa arrow"></span></a>
</script>

<script type="text/template" id="facetLink">
    <% if (typeof(url) != "undefined") { %>
    <a href="<%- url %>" class="facet-link">
        <% } %>
        <%- term %> (<%- count %>)
        <% if (typeof(url) != "undefined") { %>
    </a>
    <% } %>
    <% if (typeof(remove_url) != "undefined") { %>
    <a href="<%- remove_url %>" class="facet-remove-link">X</a>
    <% } %>
</script>

<script type="text/template" id="cart-total">
    <div class="row">
        <div class="col-xs-6"><%- label %></div>
        <div class="col-xs-6"><%- value %></div>
    </div>
</script>

<script type="text/template" id="cart-item">
    <div class="row">
        <div class="col-xs-8"><%- name %></div>
        <div class="col-xs-4"><%- qty %> x <%- price %></div>
    </div>
</script>

<script type="text/template" id="cart-buttons">
    <div class="row">
        <div class="col-xs-6">
            <a class="btn btn-primary" href="/cart/checkout">Checkout</a>
        </div>
        <div class="col-xs-6">
            <a class="btn btn-primary" href="/cart/view">View Cart</a>
        </div>
    </div>
</script>

<script type="text/template" id="product-grid-single">

    <div class="thumbnail">
        <a href="/<%- slug %>"><img alt="" src="http://placehold.it/320x150"></a>
        <div class="caption">
            <h4><a href="/<%- slug %>"><%- name %></a></h4>
            <h4>$<%- price %></h4>
            <p></p>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="ratings">
                    <p>15 Reviews<br>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
            <div class="col-xs-6">
                <a href="/cart/add/<%- id %>" rel="nofollow" class="btn btn-primary addtocart">Add to Cart</a>
            </div>
        </div>
    </div>

</script>
