{% extends layout('email') %}
{% block content %}

    <h1>Contact Form Submission</h1>
    <p>From : {{ email }}</p>
    <p>Name : {{ name }}</p>
    <p>Phone : {{ phone }}</p>
    <p>Message: <br>{{ message }}</p>

{% endblock %}