{% extends layout('email') %}

{% block content %}
<p>Hello {{ first_name }} {{ last_name }},</p>
<p>Thank you again for being a customer.</p>
<p>Please click this link to update your password: <a href="{{ url }}">{{ url }}</a> .</p>
{% endblock %}
