{% extends layout('email') %}

{% block content %}
<p>Hello {{ billing_firstname }} {{ billing_lastname }},</p>
<p>Your account has been confirmed</p>
<p>Thank you again for being a customer.</p>
{% endblock %}
