{% extends 'MobileCartFrontendBundle::email-layout.html.twig' %}

{% block content %}
<p>Hello {{ first_name }} {{ last_name }},</p>
<p>Your account has been confirmed</p>
<p>Thank you again for being a customer.</p>
{% endblock %}
