{% extends layout('email') %}

{% block content %}
<p>Hello {{ billing_firstname }} {{ billing_lastname }},</p>
<p>Thank you again for being a customer.</p>
<p>Please click this link to confirm your account: <a href="{{ url }}">{{ url }}</a> .</p>
{% endblock %}
